name: ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  cabal:
    strategy:
      fail-fast: false
      matrix:
        ghc:
          - "8.10.7"
          - "9.0.2"
          - "9.2.8"
          - "9.4.8"
          - "9.6.5"
          - "9.8.2"
          - "9.10.1"
        platform:
          - os: "macos-latest"
            set-env: "export"
          - os: "ubuntu-latest"
            set-env: "export"
          - os: "windows-latest"
            set-env: "set"
        # Evidently, the below GHCs do not play nicely with the macos-latest
        # runner anymore:
        #
        #     Building library for colour-2.3.6..
        #     [ 1 of 14] Compiling Data.Colour.CIE.Chromaticity ( Data/Colour/CIE/Chromaticity.hs, dist/build/Data/Colour/CIE/Chromaticity.o, dist/build/Data/Colour/CIE/Chromaticity.dyn_o )
        #
        #     <no location info>: error:
        #         Warning: Couldn't figure out LLVM version!
        #                  Make sure you have installed LLVM between [9 and 13)
        #     ghc-9.0.2: could not execute: opt
        #
        #     Failed to build data-array-byte-0.1.0.1.
        #
        # Googling suggests 'brew install llvm@12' and maybe:
        #
        #     OPT=/opt/homebrew/opt/llvm@12/bin/opt LLC=/opt/homebrew/opt/llvm@12/bin/llc ghcup install ghc 8.10.7 --force
        #
        # Alternatively, we could possibly use an older macos runner for these
        # GHCs. All of this sounds like too much work for a purely CI failure,
        # so we just exclude them so CI is green.
        exclude:
          - {ghc: "8.10.7", platform: {os: "macos-latest", set-env: "export"}}
          - {ghc: "9.0.2", platform: {os: "macos-latest", set-env: "export"}}
    runs-on: ${{ matrix.platform.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: haskell-actions/setup@v2
        with:
          ghc-version: ${{ matrix.ghc }}
      # For reasons I do not care to investigate, --enable-tests causes several
      # GHC 9.4 + windows to die. Thus we leave it to the doctest script.
      - name: Configure
        run: cabal configure --ghc-options -Werror
      - name: Compile
        run: cabal build
      - name: Doc Tests
        run: ./tools/doctest.sh
      - name: Unit Tests
        run: cabal test unit --test-options '--hedgehog-tests 10000'
  nix:
    strategy:
      fail-fast: false
      matrix:
        os:
          - "macos-latest"
          - "ubuntu-latest"
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup nix
        uses: cachix/install-nix-action@v30
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Compile & Test
        run: nix build
  lint:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
      - name: Setup nix
        uses: cachix/install-nix-action@v30
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Formatting
        run: |
          nix run .#format
          git diff --exit-code --color=always
      - name: HLint
        run: nix run .#lint
